/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COLEMAK_DHM 0
#define NUM_SYM     1
#define EXTENDED    3
#define FUNC        4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "COLEMAK_DHM";
                        bindings = <
   &none &kp      Q &kp      W &kp       F &kp        P  &kp B        &kp J   &kp        L &kp       U &kp      Y &kp   SEMI &none
   &none &hm LGUI A &hm LALT R &hm LCTRL S &hm LSHIFT T  &kp G        &kp M   &hm RSHIFT N &hm RCTRL E &hm RALT I &hm RGUI O &none
   &none &kp      Z &kp      X &kp       C &kp        D  &kp V        &kp K   &kp        H &kp    CMMA &kp    DOT &kp   FSLH &none
                                &kp ESC    &mo NUM_SYM   &kp SPC      &kp SPC &mo EXTENDED &kp    BSPC
                        >;
                };

                gaming_layer {
                        label = "NUM_SYM";
                        bindings = <
   &none &kp   N1 &kp   N2 &kp    N3 &kp     N4 &kp N5       &kp N6  &kp N7     &kp N8    &kp N9    &kp N0     &none
   &none &kp LGUI &kp LALT &kp LCTRL &kp LSHIFT &kp TAB      &none   &kp RSHIFT &kp LBKT  &kp RBKT  &kp GRAVE &none
   &none &none    &none    &none     &none      &none        &none   &kp SQT    &kp MINUS &kp EQUAL &kp BSLH  &none
                           &none     &none      &kp RET      &kp RET &mo FUNC   &kp DEL
                        >;
                };

                numpad_layer {
                        label = "EXTENDED";
                        bindings = <
   &none  &kp F1 &kp F2 &kp F3 &kp F4   &kp F5        &kp F6 &kp F7   &kp F8    &kp F9    &kp F10   &none
   &none  &none  &none  &none  &none    &none         &none  &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none
   &none  &none  &none  &none  &none    &none         &none  &kp HOME &kp PG_DN &kp PG_UP &kp END   &none
                        &none  &mo FUNC &kp RET       &none  &none  &none
                        >;
                };

                numrow_layer {
                        label = "FUNC";
                        bindings = <
   &none  &kp F1 &kp F2 &kp F3       &kp F4   &kp F5    &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &none
   &none  &none  &reset &bootloader  &none    &none     &none  &none  &none  &none  &none   &none
   &none  &none  &none  &none        &none    &none     &none  &none  &none  &none  &none   &none
                        &none        &none    &none     &none  &none  &none
                        >;
                };
        };
};
